<!DOCTYPE html>
<html>
  <head>
    <title>Project Documentation</title>
  </head>
  <body style="text-align:center">
    <h1>Welcome to our info page</h1>
    <h2>About Us</h2>
    <h3>Team member: Sharang Wakankar and Zhuo Wen</h3>
    <h2>About Pickup Sports</h2>
    <p style="padding-left:30px; padding-right: 30px"><font size="4">If you are a crazy sports fan, this is the right place to go no matter which sports you play. After you register an account, you should be able to see all the venues and all events. Everything after you log into your account with your email and password, you should see events you already signed up. You can enroll any events you are interested in by clicking the events and the system will not allow you to sign up two events having the overlap timeslots. You can also search for events by giving venue names so that you can pick the one close to where you live. </font></p>
    <p style="padding-left:30px; padding-right: 30px"><font size="4"> As an admin, you can manage all users, events, and venues. Admin is able to remove users, remove events and remove venues. They can also see all users, events, and venues and they can delete one or more by selecting the user/event/venue from the dropdown list. Admin can also enroll an event like users, and the procedure is the same. </font></p>
    <p style="padding-left:30px; padding-right: 30px"><font size="4">Finally, you can download the app right from our website on your Android phone. The app should have the exact same functionalities as you see on the websites so you do not need extra time to figure out how the app works. </font></p>
    <h2>A how-to for the Web interface with screenshots:</h2>
    <iframe src="https://storage.googleapis.com/apaddemo/web.pdf" width="80%" height="800px"> </iframe>
    <h2>A how-to for the App interface with screenshots:</h2>
    <iframe src="https://storage.googleapis.com/apaddemo/app.pdf" width="80%" height="800px"> </iframe>
    <p>Download the APP:</p>
    <button class="btn btn-success" style="height:50px;width:100px" onClick="parent.location='https://play.google.com/store'">Get The App</button>
  </body>
</html>